/*    HTTP Host:  b.static.ak.fbcdn.net                                        */
/*    Generated:  February 17th 2010 1:47:30 PM PST                            */
/*      Machine:  10.16.140.105                                                */
/*       Source:  Local Cache                                                  */
/*     Location:  rsrc:4:1904zsih                                              */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/bfs2fp252q88www0.pkg.css                                 */

.nux_highlight{padding:10px 0 10px 0;border-bottom:1px solid #ffe222;background-color:#fff8cc}
#left_column .nux_highlight #profileimage{width:178px;height:126px;border:1px solid #ccc;margin:0 auto 0 auto;overflow:hidden}
#left_column .nux_highlight #profile_pic{left:-11px;position:relative}
#left_column .profile_highlighted_actions{width:178px;margin:0 auto 0 auto;padding:10px 0 0 0}
#left_column .profile_highlighted_actions_profile{padding-bottom:5px}
#left_column .nux_highlight .icon_link{background-repeat:no-repeat;background-position:center left;padding-left:17px}
#nux_highlight_composer_container{margin:0 0 0 0}
.nux_highlight_nub{position:relative;top:-1px;height:10px;background:url(/rsrc.php/zAKFR/hash/bn0mucgk.gif) -300px -293px no-repeat}
.nux_highlight_nub_center{background-position:center -293px}
.nux_highlight_composer{padding:1px 20px 1px 33px;background:url(/rsrc.php/z6F8N/hash/9pwjqxbm.gif) 10px center no-repeat;color:#262626}
.nux_highlight_composer_close a{width:13px;height:13px;margin:8px;float:right;display:block;background:transparent url(/rsrc.php/z14M5/hash/a657viny.png) no-repeat -867px -65px}
.nux_highlight_composer_close a:hover{background-position:-856px -65px;background-color:#3b5998}
#profile_picture_upload_highlight{background-image:url(/rsrc.php/z735F/hash/a1a7e3es.gif);display:inline-block}
#profile_picture_camera_highlight{background-image:url(/rsrc.php/zANQG/hash/7498jbk3.gif);display:inline-block}
.profile #flyout_menu_profile_add_tab{width:214px}
.profile #flyout_menu_profile_add_tab .flyout_menu_title{width:168px}
.profile #flyout_menu_profile_add_tab .menu_content{width:180px}
.flyout_menu .menu_content .add_tab_apps_list{padding:0;margin:0}
.flyout_menu .menu_content .add_tab_app_typeahead{border-top:1px solid #ccc;margin:5px 10px 10px 10px}
.flyout_menu .menu_content .add_tab_app_typeahead .inputtext{border:1px solid #ccc;margin-top:4px;width:150px}
.flyout_menu .menu_content .add_tab_app_item .add_tab_apps_list_icon{background-color:transparent;width:16px;height:16px;float:left;background-position:-16px 0;background-repeat:no-repeat;margin:0 0 0 0}
.flyout_menu .menu_content .add_tab_apps_list_title{padding-top:5px}
.flyout_menu .menu_content #profile_friend_box_edit label{color:#333;float:none}
.flyout_menu .menu_content .add_tab_app_item .add_tab_apps_list_name{float:right;padding:2px 0 0 0;width:140px}
.flyout_menu .menu_content .add_tab_apps_list a:hover .add_tab_app_item .add_tab_apps_list_icon{background-position:top left}
.profile div.can_edit{position:relative}
#left_column .profileimage{height:55px;min-height:55px}
html>body #left_column .profileimage{height:auto}
#edit_profilepicture{background:#fff;height:20px;padding:5px 27px 0 6px;position:absolute;right:0;top:0}
.edit_profilepicture_icon_disabled{display:none}
#edit_profilepicture_icon{background:url(/rsrc.php/z4BZ9/hash/d0p9bnvk.gif) no-repeat right top;height:18px;position:absolute;right:4px;top:4px;width:18px}
a#edit_profilepicture:hover #edit_profilepicture_icon{background-position:right bottom}
#profile_picture_flyout .flyout_menu_mask{background:#fff url(/rsrc.php/z4BZ9/hash/d0p9bnvk.gif) no-repeat right -18px}
#profile_picture_flyout #profile_picture_upload{background-image:url(/rsrc.php/z735F/hash/a1a7e3es.gif)}
#profile_picture_flyout a:hover#profile_picture_upload{background-image:url(/rsrc.php/z786B/hash/5f2q4wpe.gif)}
#profile_picture_flyout #profile_picture_camera{background-image:url(/rsrc.php/zANQG/hash/7498jbk3.gif)}
#profile_picture_flyout a:hover#profile_picture_camera{background-image:url(/rsrc.php/z6ZZB/hash/clryxb75.gif)}
#profile_picture_flyout #profile_picture_album{background-image:url(/rsrc.php/zADKP/hash/f0j3tkxh.gif)}
#profile_picture_flyout a:hover#profile_picture_album{background-image:url(/rsrc.php/zD4UO/hash/80egqar9.gif)}
#profile_picture_flyout #profile_picture_thumb{background-image:url(/rsrc.php/z7I11/hash/cjz9jv9z.gif)}
#profile_picture_flyout a:hover#profile_picture_thumb{background-image:url(/rsrc.php/z4OVS/hash/1cn18bvp.gif)}
#profile_picture_flyout #profile_picture_remove{background-image:url(/rsrc.php/z64BE/hash/2oh8z5rr.gif)}
#profile_picture_flyout a:hover#profile_picture_remove{background-image:url(/rsrc.php/z3DO2/hash/as9sr5xm.gif)}
.profile .basic_info_summary .no_info{color:#333;margin-top:-1px;padding:0 0 5px 8px}
.profile #flyout_menu_profile_basic_info_editor .loading_layer{background:#eeeeee url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat center;width:16px;height:19px;position:absolute;top:1px;left:0}
.profile #flyout_menu_profile_basic_info_editor .edit_info{display:block;padding:5px 0 0 1px}
.profile #flyout_menu_box_edit_menu_2356318349{width:221px}
.profile #flyout_menu_box_edit_menu_2356318349 .flyout_menu_title{width:182px}
.profile #flyout_menu_box_edit_menu_2356318349 .menu_content{width:198px}
.profile #content_box_edit_menu_2356318349 .editor_option{padding:6px 0;border-top:1px solid #ccc}
.profile #content_box_edit_menu_2356318349 .editor_option.first{border:0;padding-top:0}
.profile #content_box_edit_menu_2356318349 .tokenizer{margin-top:4px;width:auto;border:1px solid #ccc}
.profile #content_box_edit_menu_2356318349 .networks_error{color:#000;background:#ffebe8;border:1px solid #ee7c90;padding:3px 5px;margin:7px 0 4px;font-weight:bold}
.profile #app_content_70004827638 .loading_placeholder,
.profile #app_content_2356318349 .loading_placeholder{display:none}
.profile #app_content_70004827638.is_loading .loading_placeholder,
.profile #app_content_2356318349.is_loading .loading_placeholder{display:block;background:url(/rsrc.php/z5R48/hash/ejut8v2y.gif) no-repeat center 70px}
.profile #app_content_70004827638.is_loading .loaded_content,
.profile #app_content_2356318349.is_loading .loaded_content{display:none}
.profile .blurb.owner .text_wrapper a{color:#333}
.profile .blurb.owner .text_wrapper,
.profile .blurb.owner .edit{margin-right:23px}
.profile .blurb.owner .edit textarea{margin-top:0;padding:7px 6px;width:159px}
.profile .blurb.owner .edit textarea.updating{background:transparent url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat center}
.profile .blurb.owner .edit .loading_layer{background:#cccccc url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat center;top:0;left:0;opacity:.5;filter:alpha(opacity=5)}
.profile .composers_disabled a{color:#3b5998}
#wall_settings_editor h3{border-bottom:none;margin-bottom:0;padding-bottom:0}
#wall_settings_editor #profile_settings .right{width:375px}
.editpicture .dashboard_header .dh_titlebar{padding:0 0 12px 0}
.editpicture .dashboard_header .dh_titlebar h2{padding:0 0 7px 10px}
.editpicture .editor_panel{border:1px solid #d7d7d7;border-top:1px solid #898989}
.editpicture #camera .camera_save_buttons{clear:both}
.picture .current{margin:10px 10px 20px 20px;float:left;width:200px}
.picture .current h4{margin:0;padding:1px 0 4px;font-size:11px;border-bottom:none}
.picture .options{margin:10px 20px 20px 10px;float:left;width:340px}
.picture.picture_wide .options,
.editpicture .picture .options{width:490px}
.picture .options div{margin:0;padding:0}
.picture .options h4{border-bottom:solid 1px #b9c4da;margin:0;padding:0 0 2px 0;font-size:13px}
.editpicture .options h4{padding-top:10px}
.picture .options p{margin-top:11px;margin-bottom:11px}
.picture .options small{display:block;margin:5px 0;color:#777}
.picture .options .inputcheckbox{float:left;display:block;margin:2px 5px 8px 0}
.picture #save_camera_picture{margin-bottom:10px;margin-top:8px}
.picture .options #take_photo p{margin-bottom:10px;margin-top:9px}
.picture #find_camera{}
.picture #hide_camera_button{margin-left:6px;margin-bottom:10px;margin-top:8px}
.picture #show_camera_button{margin-bottom:10px;margin-top:0}
.picture #top_cam{padding:0 0 0 0}
.picture #top_cam h4{padding-top:0}
.picture #top_cam #show_camera_button{margin-bottom:10px}
.picture #bottom_cam{padding:20px 0 0 0}
.picture #bottom_cam #show_camera_button{margin-bottom:10px}
#squareform{margin:0 0 10px 0}
#squarebox{float:left;width:50px;height:50px;padding:0;margin:8px 8px 4px 0;cursor:move;border:1px solid #666;overflow:hidden;position:relative}
div.pic_upload_squarebox_loading{background:url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat center}
div.pic_upload_squarebox_loading img.pic_upload_squarepicturestart{filter:alpha(opacity=30);opacity:.3}
#squarepicture{position:relative;visibility:hidden}
#savesquarebutton{margin-top:8px;margin-bottom:4px}
#square_profile_pic_saving_indicator{text-align:center;padding:10px 0}
#square_profile_pic_saving_indicator .load_message{color:#333;font-size:13px;font-weight:bold}
#notes{word-wrap:break-word}
.notes_titles .added{border-bottom:solid 1px #ffe222;background:#fff8cc;margin:0 10px 10px -6px;padding:6px 6px 3px 6px}
.notes_titles li{margin-left:0;padding:0 0 6px 0}
.ie6 .notes_titles li{zoom:1}
.notes_titles li.imported{background:url(/rsrc.php/z4ZVD/hash/9opk33m7.gif) no-repeat left 1px;padding:0 0 6px 22px}
.notes_titles li.mobile{background:url(/rsrc.php/zBKOF/hash/f374i2gc.gif) no-repeat left top;padding:0 0 6px 22px;margin-left:3px}
.notes_titles li.written{background:url(/rsrc.php/z7NSY/hash/ajh5dbgz.gif) no-repeat left 1px;padding:0 0 6px 22px}
.notes_titles li a{display:block;padding:0 0 1px 0}
.notes_titles small{color:#333;font-weight:normal;display:block;font-size:9px}
.notes_titles small span{color:#808080}
.notes_titles small a{display:inline;font-weight:normal}

#bootloader_css_bfs2fp252q88www0_pkg_css { height: 42px; }