/*    HTTP Host:  b.static.ak.fbcdn.net                                        */
/*    Generated:  February 17th 2010 1:55:18 PM PST                            */
/*      Machine:  10.16.140.110                                                */
/*       Source:  Local Cache                                                  */
/*     Location:  rsrc:4:eam8r4e5                                              */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/757ncuzrww8440cw.pkg.css                                 */

#attachment_buttons_list{clear:both}
#attachment_buttons_list label{float:left;display:block;padding:6px 4px;color:#666}
#attachment_buttons_list .empty_item{padding:6px 0 0 4px}
#attachment_buttons_list .attachment_link{float:left}
#attachment_buttons_list .attachment_link a{display:block;margin:2px;white-space:nowrap;cursor:pointer}
#attachment_buttons_list .attachment_link a span{display:block;padding:4px 6px 4px 24px;background-repeat:no-repeat;background-position:5% 3px}
#attachment_buttons_list .attachment_link a:hover{color:#444;margin:1px;border:1px solid #a9a9a9;background:#f1f1f1 url(/rsrc.php/z1LTZ/hash/eu9ojh1u.gif) repeat-x top left}
.attachment_dialog .generic_dialog_popup{width:500px}
.attachment_view_wrapper{display:none;margin:6px 0 8px 0}
.attachment_edit_loading,
.attachment_view_loading{display:none;background:url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) center no-repeat;clear:both;padding:6px 0}
.attachment_view_container{float:left;padding-bottom:6px}
.attachment_view_loading{padding-bottom:0}
.attachment_remove{font-size:9px;text-align:right;padding-bottom:3px}
.attachment_edit .attachment_stage{background:white;border:0 none}
.attachment_edit .attachment_stage_area{padding:0}
.attachment_edit .attachment_stage_area .share_a_link .inputtext{width:300px}
.attachment_edit .attachment_stage .has_image .summary_wrap{width:334px}
.attachment_view{width:378px}
.attachment_view .attachment_stage .has_image .summary_wrap{width:243px}
.attachment_stage .UIStoryAttachment_MediaSingle{padding-right:5px}
.attachment_view .attached_item{background:white;border:1px solid #bdc7d8;padding:6px;margin-top:0}
.attached_item{margin:10px 0 0;padding:0 0 0 7px;border-left:2px solid #e0e0e0;overflow:hidden}
.attached_item.no_text,
.attached_item_info.no_text{margin-top:0}
div.attachment_info{clear:both;color:#666;font-size:9px;padding:8px 0 3px 0}
div.attachment_info span{padding:3px 0 2px 21px;background-repeat:no-repeat;background-position:center left}
#attachment_more_menu{float:left;margin-top:3px}
#attachment_more_menu #attachment_more_link{padding:1px 5px 3px 13px;color:#3b5998;display:inline-block;border:1px solid #fff;background:url(/rsrc.php/z58JV/hash/5pfa3ppg.gif) no-repeat left 1px}
#attachment_more_menu #attachment_more_link:hover,
#attachment_more_menu #attachment_more_link.active,
#attachment_more_menu #attachment_more_link.active:hover{color:#fff;cursor:pointer;background-color:#5c75aa;background-position:left -15px;text-decoration:none}
#attachment_more_menu #attachment_more_link.active,
#attachment_more_menu #attachment_more_link.active:hover{border:1px solid #3b5998}
#attachment_more_menu #wall_attachment_more_menu{padding:5px 0;position:absolute;top:18px;left:0;background:white;border:solid 1px #3b5998}
#attachment_more_menu #wall_attachment_more_menu a{display:block;color:#3b5998;width:112px;padding:3px 5px 3px 7px}
#attachment_more_menu #wall_attachment_more_menu a:hover{text-decoration:none;background:#5c75aa;color:#fff;cursor:pointer}
#wall_attachment_more_menu{width:128px}
#wall_attachment_more_menu .menu_content{padding:5px 0}
#wall_attachment_more_menu a:hover
.attachment_more_menu_option_icon{background-position:top left}
#wall_attachment_more_menu
.attachment_more_menu_option_icon{float:left;width:16px;line-height:16px;background-position:-16px 0;background-repeat:no-repeat}
#wall_attachment_more_menu
.attachment_more_menu_option_text{float:left;display:block;text-align:left;padding-left:6px}
html>body .attachment_compact .wall_video_thumb .play{*margin-top:-22px;*padding-bottom:3px}
#event .wallpost .walltext{word-wrap:break-word;width:440px}
.message div.attachment_info{padding-bottom:6px}
#compose_message .attached_item,
.message .attached_item{width:367px}
.message_attachment .note_with_thumb .excerpt .textual{width:195px}
.message_attachment .event_has_photo .event_info{width:220px}
.message_attachment .ad_body{width:189px}
.message_attachment .mp3player .has_artwork .info_and_player{width:225px}
.message_attachment .mp3player .has_artwork .info_field span{width:170px}
.message_attachment .mp3player .no_artwork .info_field span{width:280px}
.message_attachment .textual .metadata .summary{padding-bottom:2px;color:#777}
.message_attachment .swfvideo .textual .metadata{width:200px}
.message_attachment .video_for_share{padding:0}
.message_attachment .fb_photo .photo_thumb,
.message_attachment .share_ext_photo .has_thumb .extra{float:none;padding-left:0}
.message_attachment .fb_photo .photo_thumb,
.message_attachment .share_ext_photo .share_thumb{width:360px}

#bootloader_css_757ncuzrww8440cw_pkg_css { height: 42px; }